# Unit 10 - Boston Housing Data

Missing Data Assignment

Step 1:

**COMPLETE:** a) Using Sklearn get the Boston Housing dataset.
https://scikit-learn.org/stable/modules/generated/sklearn.datasets.load_boston.html

b) Fit a linear regressor to the data as a baseline.  There is no need to do Cross-Validation.  We are exploring the change in results


c) What is the loss and what are the goodness of fit parameters?  This will be our baseline for comparison


Step 2: (repeated)

a) For select between 1, 5 10, 20, 33, and 50% of your data on a single column (Completely at random), replace the present value with a NAN and then perform an imputation of that value.   


b) In. each case perform a fit with the imputed data and compare the loss and goodness of fit to your baseline.


Step 3: 

a) Take 2 different columns and create data “Missing at Random” when controlled for a third variable (i.e if Variable Z is > 30, than Variables X, Y are randomly missing).  Make runs with 10%, 20% and 30% missing data imputed via your best guess.  Repeat your fit and comparisons to the baseline.


Step 4:  

a) Create a Missing Not at Random pattern in which 25% of the data is missing for a single column.    Impute your data, fit the results and compare to a baseline.


Step 5 

a) (Extra Credit) (10 points):  Using the MCMC method, and your data from step 4, What is the difference in performance between i

In [4]:
import pandas as pd

In [1]:
from sklearn.datasets import load_boston
boston = load_boston()

In [2]:
print(boston.data.shape)
#(506, 13)

(506, 13)

In [13]:

df_boston = pd.DataFrame(boston.data,columns=boston.feature_names)
df_boston['target'] = pd.Series(boston.target)
df_boston.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,target
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33,36.2

In [14]:
df_boston.to_csv("boston.csv", index=False)